*{
    margin: 0;
    padding: 0;
}

#nav-1{
    display: none;
}
.seq0{
    width: 1198px;
    height: 63px;
    border: 1px solid #dcdddd;
    overflow: hidden;
    margin:10px auto 0;
}
.product-wrapper{
    width: 1200px;
    margin: 0 auto;
    font: 12px "Simsun";
    background: #fff;
}
.breadcrumb{
    color: #646464;
    font: 12px/40px "simsun";
    height: 40px;
    padding-bottom: 8px;
    position: relative;
    z-index: 10;
}
.breadcrumb a{
    color: #646464;
    float: left;
}
.breadcrumb a.domain{
    font: 14px/40px "Microsoft Yahei";
}
.breadcrumb span{
    float: left;
}
.breadcrumb span.gt{
    color: #646464;
    margin: 1px 6px 0;
}
.product-main{
    width: 1200px;
    margin: 0 auto;
    height:538px;
}
.pic-info{
    width: 400px;
    float: left;
    padding: 0 20px 30px 0;
}
.pic-info .pic{
    width: 400px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}
.pic-info .pic .img{
    width: 400px;
    height: 400px;
    display: block;
    overflow: hidden;
}
.pic-info .pic .largepic{
    width: 400px;
    height: 400px;
    display: block;
    overflow: hidden;
}
.pic-info .pic .zoom-pup{
    cursor: move;
    width: 200px;
    height: 200px;
    position: absolute;
    background: url("../images/zoom_pup.png");
    left: 0;
    top: 200px;
    display: none;
    z-index: 10;
}
.pic-info .pic .icon-promote{
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    background: url("../images/mej_c.png")no-repeat;
    height: 68px;
    width: 68px;
}
.pic-info .pic .big-pic{
    border: 1px solid #f5f5f5;
    position: absolute;
    top: 0;
    width: 400px;
    height: 400px;
    overflow: hidden;
    background: #fff;
    text-align: center;
    left: 400px;
    display: none;
}
.pic-info .pic .big-pic img{
    width: 800px;
    height: 800px;
    position: absolute;
    left: -78px;
    top: -340px;
}
.dp-slide{
    width: 399px;
    margin: 8px auto 0;
    position: relative;
}
.dp-slide .dp-slide-box{
    height: 56px;
    margin-left: 20px;
    visibility: visible;
    overflow: hidden;
    position: relative;
    z-index: 2;
    left: 0;
    width: 380px;
}
.dp-slide .dp-slide-box ul{
    z-index: 1;
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
    width: 1140px;
    left: 0px;
}
.dp-slide .dp-slide-box ul li{
    overflow: hidden;
    float: left;
    width: 56px;
    height: 56px;
    margin-right: 20px;
    vertical-align: top;
}
.dp-slide .dp-slide-box ul li a{
    display: block;
    border: 1px solid #fff;
    width: 54px;
    height: 54px;
    overflow: hidden;
    text-decoration: none;
}
.dp-slide .dp-slide-box ul li a img{
    height: 54px;
    width: 54px;
}
.show-info{
    float: left;
    width: 780px;
    font: 12px "Verdana";
    color: #646464;
}
.sale-box{
    line-height: 24px;
    padding: 0 0 0 10px;
    background: url("../images/sale_box_bg.png")repeat-y 670px 0;
    margin-top: 5px;
    background-position: 590px 0;
}
.sale-box-left{
    float: left;
    width: 550px;
}
.name-info{
    font-family: "Verdana","Microsoft Yahei";
    font-weight: normal;
    border-bottom: 1px solid #f5f5f5;
    padding: 0 6px 12px 0;
}
.name-info h1{
    line-height: 24px;
    max-height: 48px;
    overflow: hidden;
    color: #323232;
    font-size: 18px;
    margin: 0 auto;
}
.name-info h2{
    padding-top: 6px;
    max-height: 96px;
    overflow: hidden;
    line-height: 24px;
    font-size: 14px;
    color: #ff2832;
}
.pinglun{
    clear: both;
}
.star-box{
    float: left;
    width: 70px;
    height: 12px;
    background: url("../images/icon_star.png")repeat-x 0 -12px;
    margin: 6px 6px 0 0;
    overflow: hidden;
}
.star{
    width: 100%;
    display: block;
    height: 12px;
    background: url("../images/icon_star.png")repeat-x 0 0;
}
.price-info{
    width: 550px;
    background: #ebebeb;
    padding: 0 0 0 -10px;
    margin: 6px 0 0 -10px;
    line-height: 28px;
    position: relative;
    z-index: 1;
    height: 66px;
}
.price-ph{
    display: block;
    float: right;
    color: #ff2832;
    padding: 0 24px 0 10px;
    background: url("../images/product_sprites.png")no-repeat right -973px;
    position: relative;
    margin-top: 3px;
}
.t{
    color: #8f8f8f;
    font-weight: normal;
    font-size: 12px;
}
.pr{
    font-size: 26px;
}
.yen{
    font-size: 12px;
}
.price-ph-erwei{
    position: absolute;
    border: 1px solid #e6e6e6;
    padding: 13px 7px 7px;
    background: #fff;
    bottom: -133px;
    right: 10px;
    display: none;
}
.price-ph:hover{
    background-position: right -923px;
}
.price-ph-erwei i{
    display: block;
    width: 10px;
    height: 4px;
    background: url("../images/product_sprites.png")no-repeat 0 -1036px;
    overflow: hidden;
    position: absolute;
    top: -4px;
    right: 16px;
    font-style: normal;
}
.price-ph-erwei img{
    width: 100px;
    height: 100px;
}
.price-pc{
    float: left;
    padding-bottom: 7px;
}
.price-d{
    font-size: 26px;
    color: #e52222;
    float: left;
    height: 56px;
    overflow: hidden;
    padding: 3px 5px 0 0;
}
.price-zhe{
    line-height: 93px;
    color: #e52222;
    float: left;
    height: 56px;
    overflow: hidden;
    padding: 3px 5px 0 0;
}
.price-m{
    text-decoration: none;
    padding-right: 0;
    line-height: 93px;
    color: #969696;
    float: left;
    height: 56px;
    overflow: hidden;
    padding: 3px 5px 0 0;
}
.cuxiao-info{
    display: block;
    padding: 5px 0 7px;
    border-bottom: 1px dotted #d6d6d6;
    clear: both;
    height: 50px;
}
.product-main .left{
    float: left;
    width: 68px;
    color: #969696;
    white-space: nowrap;
    overflow: hidden;
}
.letter02{
    letter-spacing: 24px;
}
.cuxiao-info .right{
    width: 482px;
    float: left;
    color: #646464;
}
.right b{
    float: left;
    background-color: #f66;
    color: #fff;
    font-weight: normal;
    padding: 0 6px;
    height: 16px;
    line-height: 14px;
    border-radius: 3px;
    margin-top: 5px;
    overflow: hidden;
}
.rule{
    width: 402px;
    overflow: visible;
    float: left;
    padding-left: 10px;
}
.rule p{
    display: inline-block;
    padding-right: 10px;
}
.text{
    max-height: 10px;
}
.area_info{
    padding-top: 8px;
}
.area{
    float: left;
    padding: 0 6px 0 0;
}
.area_info .text{
    float: left;
    border: 1px solid #ccc;
    height: 18px;
    line-height: 0px;
    background: url("../images/product_sprites.png")no-repeat right -313px;
    cursor: pointer;
    margin: 3px 8px 0 0;
    position: relative;
    z-index: 1;
}
.area_pop {
    position: absolute;
    width: 369px;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 77;
    padding: 0 2px;
    font-size: 12px;
    top: 21px;
    left: 0;
}
.area_pop .tab {
    height: 27px;
    border-bottom: 1px solid #ccc;
}
.area_pop .tab li {
    height: 20px;
    float: left;
    margin: 7px 0 -1px 7px;
    padding: 0 6px;
    _display: inline;
    background: #f1f1f1 url(../images/product_sprites.png) no-repeat right -205px;
}
.area_pop .tab li a, .area_pop .tab li a:hover {
    font: 14px/20px "Microsoft Yahei";
    color: #646464;
    display: block;
    margin-right: 12px;
    text-decoration: none;
    max-width: 57px;
    overflow: hidden;
    white-space: nowrap;
}
.area_pop .tab li.choose {
    height: 20px;
    padding: 0 6px;
    border: 1px solid #ccc;
    border-bottom: 0;
    background-color: #fff;
}
.product_main .sale_box .area_info b {
    display: inline-block;
    padding: 0 6px 0 0;
}
.product_main .sale_box .area_info .select_add b {
    float: left;
}
.area_pop {
    position: absolute;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 77;
    top: 21px;
    left: 0;
}
.yun_pop {
    color: #646464;
    font: 12px "Microsoft Yahei";
    width: 496px;
    padding: 0 0 0 13px !important;
    float: none !important;
}
.right{
    width: 482px;
    float: left;
    color: #646464;
}
.product_main .sale_box .price_info .left, .product_main .sale_box .cuxiao_info .left, .product_main .sale_box .area_info .left {
    float: left;
    width: 68px;
    color: #969696;
    white-space: nowrap;
    overflow: hidden;
}
.letter02 {
    letter-spacing: 24px;
}
.time b{
    padding: 0;
    float: none;
    background-color: #fff;
    color: #646464;
}
.jia_gou_e img {
    width: 42px;
    height: 42px;
    left: 0;
}
.cuxiao_info.left {
    float: left;
    width: 68px;
    color: #969696;
    white-space: nowrap;
    overflow: hidden;
}
.list_r a{
    padding: 0 8px;
    position: relative;
    float: left;
    border: 1px solid #d7d7d7;
    margin: 0 5px 5px 1px;
    color: #646464;
}
.div4{
    height: 48px;
    font-size: 12px;
    float: left;
    margin-top: 20px;
}
.div5{
    width: 77px;
    display: inline-block;
    border: 1px solid #cccccc;
}
.ipt4{
    float: left;
    width: 48px;
    height: 48px;
    text-align: center;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}
.jia{
    width: 26px;
    height: 26px;
    background: #ededed;
    color: #cccccc;
    border: 0;
}
.div6{
    height: 70px;
    float: left;
    margin-top: 20px;
}
.a10{
    padding: 11px 36px 11px 35px;
    border: 1px solid #efcab7;
    background: #ffe4cf;
    color: #e45020;
    font-size: 16px;
    margin-left: 10px;
    float: left;
    border-radius: 5px;
}
.a11{
    width: 182px;
    height: 40px;
    background: #ff4401;
    color: #fff;
    float: left;
    margin-left: 9px;
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
}
.service-more{
    float: left;
    width: 180px;
    padding-left: 10px;
    margin-top: 0;
    margin-left: 29px;
    font-family: "Simsun";
}
.service-more-info{
    border-top: 1px solid #f5f5f5;
}
.title{
    line-height: 18px;
    padding: 10px 0 8px;
    border-bottom: 1px dotted #ccc;
}
.title-name{
    display: block;
    padding-top: 6px;
    clear: both;
}
.icon{
    float: left;
    width: 18px;
    height: 18px;
    overflow: hidden;
    background-image: url("../images/product_sprites.png");
    background-repeat: no-repeat;
    margin: 1px 5px 0 0;
}
.shang{
    background-position: -20px -230px;
}
.title a{
    color: #646464;
}
.shop-score-box{
    color: #969696;
    background: #fff;
    margin-top: -1px;
    border-bottom: 1px dotted #ccc;
    position: relative;
    z-index: 1;
}
.fuwu{
    padding: 3px 0 6px;
}
.fuwu li{
    float: left;
    width: 90px;
    height: 26px;
    line-height: 26px;
    color: #855758;
    position: relative;
    z-index: 10;
}
.fuwu li i{
    float: left;
    width: 20px;
    height: 20px;
    overflow: hidden;
    background-image: url("../images/product_sprites.png");
    background-repeat: no-repeat;
    margin: 3px 3px 0 0;
}
.fuwu li.zpbz i{
    background-position: -20px -250px;
}
.fuwu li.hdfk i{
    background-position: -60px -250px;
}
.fuwu li.sd i{
    background-position: -60px -270px;
}
.fuwu li.zcth i{
    background-position: -60px -270px;
}
.fuwu li.zclpk2 i{
    background-position: -62px -814px;
}
.fuwu li.other{
    width: 180px;
}
.server-rightdiv{
    border-top: 1px dotted #ccc;
    position: relative;
    padding-top: 10px;
    background: #fff;
    margin-bottom: -1px;
}
.s-one{
    height: 30px;
}
.live800{
    float: left;
}
.onlines{
    display: inline-block;
    width: 84px;
    height: 24px;
    background: url("../images/online_l.gif")no-repeat 0 0;
    cursor: pointer;
}
.server_time{
    line-height: 20px;
    color: #969696;
    margin: 3px 0 0;
    padding-bottom: 7px;
    clear: both;
}
.goto_shop{
    border-top: 1px dotted #ccc;
    padding: 10px 0;
    text-align: center;
}
.goto_shop a{
    width: 74px;
    height: 22px;
    line-height:22px;
    background: #fafafa;
    border: 1px solid #ededed;
    margin: 0 4px;
    display: inline-block;
    border-radius: 3px;
    color: #505050;
    text-decoration: none;
    text-align: center;
}
.product-content{
    width: 1200px;
    margin: 22px auto 0;
}
.aside{
    float: left;
    width: 210px;
}
.abox{
    border: 1px solid #eee;
    margin-bottom: 20px;
}
.abox h3{
    height: 30px;
    color: #646464;
    font: 14px/30px "Microsoft Yahei";
    overflow: hidden;
    padding: 5px 0 0 8px;
    margin-bottom: -1px;
    background-color: #fff;
    position: relative;
    z-index: 3;
}
.list01{
    width: 194px;
    margin: 0 auto;
    padding-bottom: 8px;
}
.list01 li{
    position: relative;
    padding: 6px;
    width: 174px;
    overflow: hidden;
    border-top: 1px dotted #ccc;
    float: none;
}
.list01 .pic{
    width: 180px;
    height: 180px;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid #fff;
    position: relative;
}
.list01 .pic{
    width: 180px;
    height: 180px;
}
.price{
    position: relative;
    padding-top: 3px;
}
.price-d{
    font-size: 18px;
    display: inline-block;
    padding-right: 3px;
    color: #ff2832;
    height: auto;
}
.pinglun{
    position: absolute;
    top: 4px;
    right: 4px;
    color: #969696;
    background: url("../images/product_sprites.png")no-repeat 0 -756px;
    padding-left: 17px;
    height: 14px;
    line-height: 14px;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
}
.t-box{
    position: relative;
    z-index: 10;
    width: 970px;
    float: left;
}












.fix-back{
    width: 72px;
    left: 50%;
    margin-left: 620px;
    position: fixed;
    bottom: 30px;
    z-index: 10000;
    font-family: "Simsun";
}
.fix-erweima{
    position: relative;
    margin-bottom: 6px;
    width: 45px;
    height: 45px;
    z-index: 10;
}
.little{
    display: block;
    width: 45px;
    height: 45px;
    background: url("../images/erweima_home2.png")no-repeat -124px -2px;
    cursor: default;
    text-decoration: none;
}
.big{
    width: 122px;
    height: 134px;
    background: url("../images/erweima_home2.png")no-repeat 0 0;
    position: absolute;
    left: -122px;
    top: 0;
    z-index: 3;
    cursor: default;
    text-decoration: none;
    display: none;
}
.little:hover{
    background-position: -124px -54px;
}
.fix-box-surver{
    display: block;
    height: 29px;
    width: 31px;
    background: #646464;
    position: relative;
    z-index: 10;
    line-height: 14px;
    padding: 8px 7px;
    text-align: center;
    color: #fff;
    font-family: "Microsoft Yahei";
    font-size: 12px;
    margin-bottom: 6px;
}
.fix-box-surver:hover{
    background: #fa3228;
    color: #fff;
    text-decoration: none;
}
.fix_box_back_up{
    background: #646464 url("../images/erweima_home2.png")no-repeat -125px -106px;
    height: 45px;
    width: 45px;
    text-indent: -9999px;
    position: relative;
    z-index: 10;
    display: none;
}

.section{
    width: 970px;
    padding-top: 10px;
    overflow: hidden;
}
.section .title{
    border-bottom: 2px solid #e5e5e5;
    height: 22px;
}
.section .title span{
    float: left;
    border-left: 2px solid #ff2832;
    padding: 0 30px 0 6px;
    background: #e5e5e5 url("../images/product_sprites.png")no-repeat right -525px;
    height: 22px;
    padding-bottom: 2px;
    margin-bottom: -2px;
    position: relative;
    font: 14px/22px "Microsoft Yahei";
    color: #323232;
}
.descrip{
    color: #656565;
    line-height: 22px;
    padding: 14px 20px;
    font-size: 14px;
}








    /*底部*/
.footer{
    min-width: 1200px;
}
.footer-foot{
    border-top: 2px solid #ff2832;
    margin-top: 15px;
    background-color: #fff;
    clear: both;
    font-family: "Microsoft Yahei";
}
.footer-pic{
    background-color: #fafafa;
    border-bottom: 1px solid #ebebeb;
    width: 100%;
    min-width: 960px;
}
.footer-pic-inner{
    width: 940px;
    margin: 0 auto;
    height: 68px;
    padding: 5px 0 5px 30px;
}
.footer-pic-inner a{
    display: block;
    height: 52px;
    width: 187px;
    float: left;
    padding: 7px 0 7px 48px;
}
.footer-pic-inner a span{
    text-indent: -9999px;
    display: block;
    width: 138px;
    height: 52px;
    background: url("../images/footer_bg.png") 0 0 no-repeat;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
}
.footer-pic-inner .foot-pic02 span{
    background-position: 0 -51px;
}
.footer-pic-inner .foot-pic03 span{
    background-position: 0 -103px;
}
.footer-pic-inner .foot-pic04 span{
    background-position: 0 -156px;
}
.footer-public{
    width: 920px;
    height: 140px;
    margin: 0 auto;
    padding-top: 30px;
}
.footer-sort{
    width: 154px;
    float: left;
    text-align: center;
}
.f-title{
    display: block;
    padding-left: 30px;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    color: #323232;
    height: 36px;
    line-height: 36px;
}
.footer-sort ul{
    padding-left: 30px;
}
.footer-sort ul li{
    line-height: 20px;
    height: 20px;
    float: none;
}
.footer-sort a{
    color: #7d7d7d;
    font-size: 12px;
}
.footer-sort a:hover{
    text-decoration: underline;
    color: #f44d20;
}
.footer-shangjia{
    width: 150px;
}
.footer-nav-box{
    color: #8c8c8c;
    font-size: 12px;
    text-decoration: none;
    border-top: 1px solid #ebebeb;
    width: 100%;
    min-width: 960px;
    padding: 17px 0 50px;
}
.footer-nav{
    text-align: center;
    line-height: 20px;
    padding-bottom: 17px;
}
.footer-nav a{
    color: #8c8c8c;
}
.footer-nav a:hover{
    color: #f48570;
    text-decoration: underline;
}
.footer-nav span.sep{
    margin: 0 17px 0 19px;
}
.footer-copyright{
    line-height: 20px;
    text-align: center;
    width: 960px;
    margin: 0 auto;
    padding: 10px 0 0 0;
    color: #8c8c8c;
    font-size: 12px;
}
.footer_icon{
    padding: 10px 0 0 340px;
    margin:  0 auto;
    height: 77px;
}
.validator{
    float: left;
    display: inline;
    padding: 15px 5px 15px;
    width: 135px;
    height: 47px;
}
